<section class="advantages" id="advantages">
  <div class="container">
    <div class="advantages__inner">
      <div class="title__block">
        <p class="title">Наши преимущества</p>
      </div>
      <div class="advantages__list">
        <div class="advantages__item">
          <img src="/img/advantages/1.svg" class="advantages__img" alt="Доставка">
          <span class="advantages__text">Прямая доставка оригинальных запчастей</span>
        </div>
        <div class="advantages__item">
          <img src="/img/advantages/2.svg" class="advantages__img" alt="Качество">
          <span class="advantages__text">Надежность и качество запчастей</span>
        </div>
        <div class="advantages__item">
          <img src="/img/advantages/3.svg" class="advantages__img" alt="Консультация">
          <span class="advantages__text">Консультация доступная каждому </span>
        </div>
        <div class="advantages__item">
          <img src="/img/advantages/4.svg" class="advantages__img" alt="Цены">
          <span class="advantages__text">Лояльные цены</span>
        </div>
      </div>
    </div>
  </div>
</section>