<section class="assortment">
  <div class="container">
    <div class="assortment__inner">
      <div class="title__block">
        <p class="title">Мы предлагаем большой ассортимент запчастей</p>
      </div>
      <div class="slider assortment-slider assortment-slider-js">
        <div class="assortment-slider__item">
          <div class="assortment-slider__img">
            <img src="img/assSlider/1.jpg" alt="picture">
          </div>
        </div>
        <div class="assortment-slider__item">
          <div class="assortment-slider__img">
            <img src="img/assSlider/2.jpg" alt="picture">
          </div>
        </div>
        <div class="assortment-slider__item">
          <div class="assortment-slider__img">
            <img src="img/assSlider/3.jpg" alt="picture">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="btn__area">
  <a href="#!" data-modal="contact" class="btn"><span>Связаться с продавцом</span></a>
</div>