<section class="companys" id="companys">
  <div class="container">
    <div class="companys__inner">
      <div class="title__block">
        <p class="title">Только у нас — лучшие цены на запчасти для разных видов спецтехники популярных марок</p>
      </div>
      <div class="companys__table">
        <div class="companys__item">
          <img src="img/companys/1.svg" class="companys__logo" alt="logo">
        </div>
        <div class="companys__item">
          <img src="img/companys/2.svg" class="companys__logo" alt="logo">
        </div>
        <div class="companys__item">
          <img src="img/companys/3.svg" class="companys__logo" alt="logo">
        </div>
        <div class="companys__item">
          <img src="img/companys/4.svg" class="companys__logo" alt="logo">
        </div>
        <div class="companys__item">
          <img src="img/companys/5.svg" class="companys__logo" alt="logo">
        </div>
        <div class="companys__item">
          <img src="img/companys/6.svg" class="companys__logo" alt="logo">
        </div>
        <div class="companys__item">
          <img src="img/companys/7.svg" class="companys__logo" alt="logo">
        </div>
        <div class="companys__item">
          <img src="img/companys/8.svg" class="companys__logo" alt="logo">
        </div>
        <div class="companys__item">
          <img src="img/companys/9.svg" class="companys__logo" alt="logo">
        </div>
      </div>
    </div>
  </div>
</section>