<section class="feedback">
  <div class="container">
    <div class="feedback__inner">
      <div class="title__block">
        <p class="title">Отзывы наших клиентов</p>
      </div>
      <div class="slider feedback-slider feedback-slider-js">
        <div class="feedback-slider__item">
          <div class="feedback-slider__info">
            <div class="feedback-slider__about">
                <p class="feedback-slider__name">Иван Иванов</p>
                <p class="feedback-slider__location">Москва</p>
            </div> 
            <div class="feedback-slider__rating">
              <span class="feedback-slider__rate">4</span>
              <img src="img/feedSlider/star.svg" alt="rating" class="feedback-slider__star">
            </div>
          </div>
          <p class="feedback-slider__text">“Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro possimus laboriosam animi est sapiente eveniet debitis obcaecati sed voluptatibus exercitationem assumenda nihil nobis ratione ad quod error, repellendus nostrum dicta.”</p>
        </div>
        <div class="feedback-slider__item">
          <div class="feedback-slider__info">
            <div class="feedback-slider__about">
                <p class="feedback-slider__name">Иван Иванов</p>
                <p class="feedback-slider__location">Москва</p>
            </div> 
            <div class="feedback-slider__rating">
              <span class="feedback-slider__rate">4</span>
              <img src="img/feedSlider/star.svg" alt="rating" class="feedback-slider__star">
            </div>
          </div>
          <p class="feedback-slider__text">“Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro possimus laboriosam animi est sapiente eveniet debitis obcaecati sed voluptatibus exercitationem assumenda nihil nobis ratione ad quod error, repellendus nostrum dicta.”</p>
        </div>
        <div class="feedback-slider__item">
          <div class="feedback-slider__info">
            <div class="feedback-slider__about">
                <p class="feedback-slider__name">Иван Иванов</p>
                <p class="feedback-slider__location">Москва</p>
            </div> 
            <div class="feedback-slider__rating">
              <span class="feedback-slider__rate">4</span>
              <img src="img/feedSlider/star.svg" alt="rating" class="feedback-slider__star">
            </div>
          </div>
          <p class="feedback-slider__text">“Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro possimus laboriosam animi est sapiente eveniet debitis obcaecati sed voluptatibus exercitationem assumenda nihil nobis ratione ad quod error, repellendus nostrum dicta.”</p>
        </div>
      </div>
    </div>
  </div>
</section>