<section class="feedback" id="feedback">
  <div class="container">
    <div class="feedback__inner">
      <div class="title__block">
        <p class="title">Отзывы наших клиентов</p>
      </div>
      <div class="slider feedback-slider feedback-slider-js">
        <% for(var i=0; i < feedback.count; i++) { %>
            
            <div class="feedback-slider__item">
              <div class="feedback-slider__info">
                <div class="feedback-slider__about">
                    <p class="feedback-slider__name"><%= feedback.first_name[i] %> <%= feedback.last_name[i] %></p>
                    <p class="feedback-slider__location">Москва</p>
                </div> 
                <div class="feedback-slider__rating">
                  <span class="feedback-slider__rate"><%= feedback.rating[i] %></span>
                  <img src="/img/feedSlider/star.svg" alt="rating" class="feedback-slider__star">
                </div>
              </div>
              <p class="feedback-slider__text">“<%= feedback.comment[i] %>”</p>
            </div>

       <% } %>
      </div>

      <%if (Name.length > 0) { %>
        <div class="btn__area">
          <a href="#!" class="btn"><span>Оставить отзыв</span></a>
        </div>
      <% } %>   
    </div>
  </div>
</section>