<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="/" class="header__logo">
        <h1 class="header__logo-title">ООО «ОптПоставка»</h1>
        <h2 class="header__logo-subtitle">Запчасти на спецтехнику и грузовые машины</h2>
      </a>
      <div class="header__icons">
        <a href="#!" class="header__icon fas fa-phone-alt active"></a>
        <a href="tel:+7(906)6308300" class="header_icon-info">+7 906 630-83-00</a>
        <a href="#!" class="header__icon fas fa-envelope"></a>
        <a href="#!" class="header_icon-info">SoLongExample@mail.ru</a>
        <a href="#!" class="header__icon fab fa-whatsapp"></a>
        <a href="#!" class="header_icon-info">+7 906 630-83-00</a>
        <a href="#!" class="header__icon fab fa-viber"></a>
        <a href="#!" class="header_icon-info">+7 906 630-83-00</a>
      </div>
    </div>
  </div>
</header>