<div class="container">
  <menu class="menu">
    <div class="menu__inner">
      <nav class="menu__nav">
        <a href="#companys" class="menu__nav-item">Марки</a>
        <a href="#advantages" class="menu__nav-item">Преимущества</a>
        <a href="#feedback" class="menu__nav-item">Отзывы</a>
        <a href="#map--nav" class="menu__nav-item">Где нас найти</a>
      </nav>
      <div class="menu__link">
        <div class="menu__link-item">
          <img src="/img/menu/katalog.svg" alt="Каталог" class="menu__link-img">
          <a href="/catalog/" class="menu__link-text">Каталог</a>
        </div>
        <div class="menu__link-item">
          <img src="/img/menu/login.svg" alt="Войти" class="menu__link-img">
          <a href="#!" data-modal="login" class="menu__link-text">Войти</a>
        </div>
      </div>
    </div>
  </menu>
</div>
<%- include('./modal_windows/modal'); %>