<div class="container">
  <menu class="menu">
    <div class="menu__inner">
      <nav class="menu__nav">
        <a href="/login/#companys" class="menu__nav-item">Марки</a>
        <a href="/login/#advantages" class="menu__nav-item">Преимущества</a>
        <a href="/login/#feedback" class="menu__nav-item">Отзывы</a>
        <a href="/login/#map--nav" class="menu__nav-item">Где нас найти</a>
      </nav>
      <div class="menu__link">
        <div class="menu__link-item">
          <a href="/catalog/" class="menu__link-text">
            <img src="/img/menu/katalog.svg" alt="Каталог" class="menu__link-img">
            Каталог
          </a>
        </div>
        <div class="menu__link-item">
          <a href="#!" class="menu__link-text js-has_dropdown"><!-- data-modal="login"--> 
            <img src="/img/menu/logined.svg" alt="Войти" class="menu__link-img">
            <%= Name %> 
            <img src="/img/menu/dropdown-arrow.svg" alt="Действия" class="menu__dropdown-img">
          </a> 

          <ul class="dropdown">
            <li class="dropdown__item">
              <img src="/img/dropdown/profile.svg" alt="Личный кабинет" class="dropdown__img">
              <a href="#!" class="dropdown__link">Личный кабинет</a>
            </li>
            <li class="dropdown__item">
              <img src="/img/dropdown/basket.svg" alt="Корзина" class="dropdown__img">
              <a href="#!" class="dropdown__link">Корзина</a>
            </li>
            <li class="dropdown__item">
              <img src="/img/dropdown/favorite.svg" alt="Избранное" class="dropdown__img">
              <a href="#!" class="dropdown__link">Избранное</a>
            </li>
            <li class="dropdown__item">
              <img src="/img/dropdown/exit.svg" alt="Выйти" class="dropdown__img">
              <a href="/" class="dropdown__link">Выход</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </menu>
</div>
<%- include('./modal_windows/modal'); %>