# dependencies
/node_modules
package-lock.json
.jshintrc
desktop.ini

# testing
/coverage

# production
/build

# db
/f

# private Routes
/routes/db.js

#API's
/views/partials/mapAPI.ejs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
