<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <%- include('./partials/header'); %>

  <section class="error-404">
    <div class="container">
      <div class="error-404__inner">
        <h1 class="error-404__title">Страница не найдена</h1>
        <h2 class="error-404__subtitle">Для получения доступа к этой странице необходимо авторизоваться</h2>
        <div class="btn__area">
          <a href="/" class="btn"><span>На главную</span></a>
        </div>
      </div>
    </div>
  </section>

  <%- include('./partials/footer'); %>
  <%- include('./partials/scripts'); %>
</body>
</html>