<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body>
  <%- include('./partials/header'); %>  
  <%- include('./partials/menuWithout'); %>
  
  <script type="module" src="/js/common-min.js"></script>
  <script src="/js/vendor/iconFont.min.js"></script>
  <script src="/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="/js/vendor/slick.min.js"></script>
</body>
</html>