.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 35px;
  background: transparent;
  position: relative;
  padding: 0 12px;

  &-text {
    resize: none;
    box-shadow: $shadow;
    min-height: 190px;
  }

  &-password {
    padding-right: 50px !important;
  }

  .inp {
    border: 0;
    outline: none;
    color: $halfBlack;
    background-color: $inp;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: black;
    padding: 21px 20px;
    margin-bottom: 20px;
  }

  .password-control {
    position: absolute;
    top: 39%;
	  right: 5%;
    display: inline-block;
    width: 26px;
    height: 20px;
    background: url('/img/password-view.svg') 50% 50% no-repeat;

    &.view {
      background: url('/img/password-no-view.svg') 50% 50% no-repeat;
    }
  }
}

.login-message,
.contact-message {
  min-height: 14px;
  font-size: 14px;
  margin-bottom: 10px;
}