.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 35px;
  background: transparent;
  position: relative;
  padding: 0 12px;

  &-text {
    resize: none;
    box-shadow: $shadow;
    min-height: 190px;
  }

  &-password {
    padding-right: 50px !important;
  }

  .inp {
    border: 0;
    outline: none;
    color: $halfBlack;
    background-color: $inp;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: black;
    padding: 21px 20px;
    margin-bottom: 20px;
  }

  .password-control {
    position: absolute;
    top: 34%;
    right: 6%;
    display: inline-block;
    width: 26px;
    height: 20px;
    background: url('/img/password-view.svg') 50% 50% no-repeat;

    &.view {
      background: url('/img/password-no-view.svg') 50% 50% no-repeat;
    }

    &.reg--pass {
      top: 61%;
      right: 6%;
    } 
  }

  &-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    width: 28px;
    height: 28px;
  }
}

.relogin__area {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .relogin__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: black;
  }
}

.register__area { //in login modal 
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: black;

  .register__link {
    text-decoration-line: underline;
    position: relative;
    margin-left: 10px;
    color: black;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-43%);
      width: 17px;
      height: 11px;
      background: url('/img/register-arrow.svg') 0 0 no-repeat;
    }
  } 
}

.shadow {
  box-shadow: $shadow;
}

.checkbox__area {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  
  #personal-data__check {
    cursor: pointer;
  }

  .personal-data {
    margin-left: 11px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: black;
    cursor: pointer;

    a {
      color: black;

      &:active {
        color: $red;
      }

      &:first-child {
        text-decoration: underline;
        text-decoration-style: dashed;
      }
    }
  }
}

.login-message,
.contact-message,
.register-message {
  min-height: 14px;
  font-size: 14px;
  margin-bottom: 10px;
}