.slick-list {
  overflow: hidden;
  box-shadow: 0px 4px 100px 75px rgba(white, 0.15);
  filter: drop-shadow(5px 6px 18px #9A7122);
}

.slick-track {
  display: flex;
  // width: 100% !important;
  // align-items: flex-start; //for adaptiveHeight
}

.slider {
  position: relative;
  padding: 0 88px;

  & .slick-dots {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 0;

    & li {
      list-style: none;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &.slick-active {
        button {
          width: 45px;
          background-color: black;
          border-radius: 15px;
        }
      }
    }

    & button {
      font-size: 0;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      outline: none;
      background-color: #DDE0E4;
      border: none;
      cursor: pointer;
      @include TransitionMix(180ms);

      &:hover {
        background-color: $halfBlack;
      }
    }
  }
}

.assortment-slider,
.feedback-slider {
  &__item{
    max-height: 453px;
  }

  &__img {
    max-height: 100%;

    img {
      object-fit: cover;
    }
  }
}

.feedback-slider {
  .slick-list {
    box-shadow: none;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -55px;
  z-index: 50;
  font-size: 0;
  width: 85px;
  height: 115px;
  display: none;
  outline: none;
  border: 0;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('/img/assSlider/arrows/prev.svg')0 0/ 100% 100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url('/img/assSlider/arrows/next.svg')0 0/ 100% 100% no-repeat;
}