.title{
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  max-width: 420px;
  text-align: center;
  position: relative;
  z-index: 1;

  @media only screen and (max-width: 550px) {
    z-index: 0;
  }

  &__block{
    width: 504px;
    height: 180px;
    background-color: $orange;
    box-shadow: 5px 6px 22px #BB8927;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    &.modal-title{
      width: 495px;
      height: 96px; 
      margin-bottom: 0;

      @media only screen and (max-width: 1024px) {
        width: 100%;
      }
    }
  }
}