$orange       :rgba(232, 170, 50, 0.95);
$shadow-Color :rgba(white, 0.15);
$shadow       :0px 4px 100px 75px $shadow-Color;
$red          :#E15C5C;
$halfBlack    :rgba(0, 0, 0, 0.5);
$inp          :rgba(255, 255, 255, 0.75);