.sold-slider{
  margin: 65px auto 32px;
  max-width: 858px;
  max-height: 254px;
  box-shadow: $shadow;
  filter: drop-shadow(5px 6px 22px rgba(black, 0.5));
  
  &__image{
    text-align:center;
  }
}

.sold-prev,
.sold-next{
  top: 65%;

  &:focus{
    outline: none;
  }

  &::after{
    text-shadow: -1px 3px 20px black;
    color: $orange;
    font-size: 63px;
    -webkit-text-stroke: 9px
  }
}