<div class="modal" id="login">
  <div class="title__block modal-title">
    <p class="title">Вход</p>
  </div>
  <form action="/login" method="POST" class="form ajax-contact-form">
    <input type="text"  name="email" class="form-email inp" placeholder="Почтовый ящик" required>
    <input type="password" name="password" class="inp form-password" 
      placeholder="Пароль" 
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      maxlength="20"
      title="Пароль должен содержать от 8 до 20 символов, из них хотя бы одной цифры и одной прописной буквы латинского алфавита"
      required>
    <a href="#!" class="password-control"></a>
    <div class="relogin__area">
      <a href="/restore/" class="relogin__link">Забыли пароль?</a>
    </div>
    <label class="login-message"></label>
    <div class="btn__area submit">
      <button class="btn"><span>Войти</span></button>
    </div>
    <div class="register__area">
      <span>Впервые у нас?</span>
      <a href="/register/" class="register__link">Зарегистрироваться</a>
    </div>
  </form>

  <div class="form-close">
    <img src="/img/close.svg" alt="Закрыть" title="Закрыть">
  </div>
</div>
