<div class="modal" id="personal">
  <p class="title">О персональных данных</p>
  <p class="personal-data__text">
    Пользователь даёт согласие на обработку своих персональных данных на ОптПоставка.ру, включающую сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, предоставление (выбранному Партнёру), обезличивание, блокирование, удаление, уничтожение персональных данных.
  </p>
  <div class="form-close">
    <img src="/img/close.svg" alt="Закрыть" title="Закрыть">
  </div>
</div>
